html {
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
}
#content {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 10fr auto;
    grid-template-areas: 
    "header header header"
    "left main right"
    "left main right";
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.links {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    border: solid 2px black; 
    border-top: 0;
    border-bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 100px;
    align-items: center;
}

.container {
    border: solid 1px;
}

.header {
    display: grid;
    background-color: #9F9C9B;
    width: auto;
    padding: 20px;
    grid-area: header;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 80px;
    border-bottom: solid black 2px;
}

.mainContent {
    display: flex;
    flex-direction: column;
}

.leftSide {
    display: grid;
    grid-area: left;
    background-image: url("./images/croissant.jpg");
    background-repeat: repeat-y;
    background-color: #D5D4D3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
}

.rightSide {
    display: grid;
    grid-area: right;
    background-color: #D5D4D3;
    background-image: url("./images/croissant.jpg");
}

.homeButton, .aboutButton, .menuButton {
    height: 50px;
    width: 50px;
    

}

.menuImage {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.menuImageContainer {
    width: 300px;
    height: 300px; 
    justify-content: center;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 2px black; 
    padding: 20px;
    height: 100%;
}

.menuItem {
    padding: 20px;
    border: solid 2px black;
    border-radius: 10px;
    margin: 10px;
}